# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__
*.py[cod]

# C extensions
*.so

# Django stuff
*.log
*.pot

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sublime Text 3 stuff
*.sublime-project
*.sublime-workspace
